<% if current_user %>
  <h2>Logged in as <%= current_user.name %></h2>
  <hr>
<% end %>

<div>
  <form action="logout" method="POST">
    <input class="button" type="submit" value="Log Out">
  </form>
</div>

<div>
  <h2>List of current orders for <%= current_user.name %></h2><br>
  <% current_user.orders.each do |order| %>
    <p>Address: <%= order.address %><br>
    Time Order Placed: <%= order.order_date %></p>
    <form action="order_delivered" method="POST">
      <input class="checkbox" type="checkbox" name="is_delivered">
      <input type="hidden" name="order_id" value="<%= order.id %>">
      <input class="button" type="submit" value="Delivered!"><br>
    </form>
  <% end %>
</div>

<div>
  <h2>List of available orders for <%= current_user.name %></h2><br>
  <form action="select_order" method="POST">
    <select name="order_id">
      <% @available_orders.each do |order| %>
        <option value="<%= order.id %>">
          <%= order.order_date %>
          <%= order.address %>
        </option>
      <% end %>
    </select>
    <input class="button" type="submit" value="Confirm">
  </form>
</div>
